<!-- Slider Container -->
<section id="home" class="relative h-auto">
    <div class="swiper swiperJsEffect h-full">
        <div class="swiper-wrapper">
            <!-- Slide 1 -->
            <div class="swiper-slide flexed top-0 left-0 bg-cover bg-center bg-no-repeat flex items-start justify-start text-white px-8 bg-black/50" style="background-image: url('/imgs/pannel-1.jpg');">
                <div class="text-left space-y-4 bg-black/50 p-8 rounded-md">
                    <h4 class="text-4xl font-bold">Xin chào!<br>Tôi là Lưu Thiện Văn</h4>
                    <h5 class="text-xl">Dưới đây là thông tin của tôi</h5>
                    <div class="space-x-4">
                        <a href="/images/LuuThienVan-CV-EN.pdf" target="_blank" class="px-4 py-2 !no-underline rounded hover:bg-blue-700">Download CV EN</a>
                        <a href="/images/LuuThienVan-CV-VI.pdf" target="_blank" class="px-4 py-2 !no-underline rounded hover:bg-blue-700">Download CV VN</a>
                    </div>
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="swiper-slide h-full bg-cover bg-center bg-no-repeat flex items-center justify-center text-white" style="background-image: url('/imgs/pannel-2.jpg');">
                <div class="text-center bg-black/50 p-8 rounded-md">
                    <h5 class="text-2xl font-bold">"You only live once, but if you do it right, once is enough" <i>- Mae West</i> </h5>
                </div>
            </div>
        </div>
    </div>
</section>
